* {color: rgb(0, 110, 255);}

#inicio {color: rgba(179, 14, 14, 0.561);}
.subtituloinicio{color: tomato;}
nav .subinicio {text-decoration-color: crimson;}



#kungfu{color: rgb(50, 205, 50);}





#taekwondo{color: black;}




#karate{color: rgb(100, 66, 163);}




#boxeo {color: darkcyan;}




#muaytai{color: darkorange;}




